
# Python Virtual Environments
venv/
**/.venv
__pycache__/
*.pyc

# Miscellaneous Files
.DS_Store
*.log
*temp*
docs/*.temp.md
**/.env
**/.env.prod

# IDE Files
.vscode/
.idea/

# Build Files
build/
dist/

# Terraform Files
infra/google_artifact_registry/.terraform/
infra/google_artifact_registry/.terraform.lock.hcl
infra/google_artifact_registry/terraform.tfstate
infra/google_artifact_registry/terraform.tfvars
infra/google_artifact_registry/terraform.tfstate.backup

infra/compute_vm/.terraform/
infra/compute_vm/.terraform.lock.hcl
infra/compute_vm/terraform.tfstate
infra/compute_vm/terraform.tfvars
infra/compute_vm/terraform.tfstate.backup

infra/cloud_run/.terraform/
infra/cloud_run/.terraform.lock.hcl
infra/cloud_run/terraform.tfstate
infra/cloud_run/terraform.tfvars
infra/cloud_run/terraform.tfstate.backup
infra/cloud_run/.terraform.tfstate.lock.info
