version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    # mount source for live editing but keep container node_modules
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    ports:
      - "3000:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NODE_ENV=development
    stdin_open: true
    tty: true

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - ENV:development
      - DEBUG:True

  ai_service:
    build:
      context: ./ai_service
      dockerfile: Dockerfile.dev
    ports:
      - "8001:8001"
    environment:
      - ENV:development
      - DEBUG:True

  redaction_gate:
    build:
      context: ./redaction_gate
      dockerfile: Dockerfile.dev
    ports:
      - "8002:8002"
    environment:
      - ENV:development
      - DEBUG:True
    # healthcheck:
    #   test: ["CMD", "curl", "-fsS", "http://localhost:8002/healthz"]
    #   interval: 10s
    #   timeout: 3s
    #   retries: 10

# docker compose -f docker-compose.yml -f docker-compose.overwrite.dev.yml up -d --build
# docker compose -f docker-compose.yml -f docker-compose.overwrite.dev.yml down